*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1400px;
    margin:0 auto;
}

.container-main, .container-footer{
    width:60%;
    margin: 0 auto;
}

button{
    border:none
}

button:hover{
    filter: brightness(0.94);
    cursor: pointer;
}

h2{
    color:#3c4043;
    line-height: 35px;
    padding: 35px 0;
}

p{
    color:#212121;
    line-height: 30px;
    font-weight: 300;
    padding:20px 0;
}

a{
    text-decoration: none;
    color:#5f6368
}

/* HEADER */

header{
    background-color: white;
    width: 100%;
    border-bottom: 1px solid grey;
    position: fixed;
    top: 0;
    left: 0;
}

.top-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    
}

.top-navbar .title{
    display: flex;
    align-items: center;
    justify-content:center
}

.top-navbar .title h3{
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
}

.google_log .menu{
    width:30px;
    height: 30px;
    border-radius: 50%;
}

.google_log .accedi{
    color: #fff;
    background-color: #1a73e8;
    padding: 8px 25px;
    border-radius:5px;
    margin-left: 10px;
}
  
nav ul{
    display: flex;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 35px;
    font-size: 16px;
}

nav ul li a{
    display: inline-block;
    padding-bottom: 10px;
}

/* class addes to the li/a displayed on the page */
.active{
    color: #1a73e8;
    border-bottom: 2px solid #1a73e8;
}

main{
    margin-top: 130px;
}

footer{
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px 0;
    
}

footer .container-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container-footer ul li a{
    padding: 0;
    font-size: 12px;
    font-weight: 300;
}

footer .container-footer ul li{
    margin-right: 12px;
}

footer .container-footer .language .message{
    color:lightskyblue;
    margin-right: 5px;
}

footer .container-footer .language select{
    width: 150px;
}

